body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", "sans-serif";

  font-size: 21px;
}

/* .heading-section {
  background-color: #d7d7d7;
}
.middle-section {
  background-color: #ffeaea;
}
.bottom-section {
  background-color: #eaf9ff;
} */
.dark {
  background-color: #252525;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #252525;
}

.container {
  width: 570px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  margin-top: 0;
  font-size: 60px;
}

h2 {
  margin-top: 0;
  font-size: 42px;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  padding: 20px 0;
}

h3 {
  font-size: 36px;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}

.small {
  font-size: small;
  margin-top: 0;
}

.heavy {
  font-weight: bold;
  display: block;
}
h1 .heavy {
  font-size: 80px;
}

h2 .heavy {
  font-size: 62px;
}

a {
  color: #99d930;
}
a:hover,
a:focus {
  color: #131313;
}

.btn {
  padding: 10px 25px;
  background-color: #99d930;
  color: #252525;
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
}

.btn:hover,
.btn:focus {
  background-color: #252525;
  color: #fff;
}
