body {
    margin: 0;
    font-size: 1.125rem;
}

.container {
    width: 95%;
    max-width:980px;
    margin: 0 auto;
    color: #312614;
    
}

img{
    max-width: 100%;
}

.columns{
    display: flex;
    border: 2px solid blue;
    margin: 1em 0;
    justify-content: space-between;
    align-items:flex-start;
}

.col{
    border: 2px red solid; 
}
.col-1{
    width: 20%;
}
.col-2{
    width: 45%;
}
.col-3{
    width:70%
}
@media (max-width:600px){
    body{
        background: antiquewhite;
        
    }
    .columns {
        flex-direction: column;
    }
    .col{
        border: 2px fuchsia solid;
        width: 100%;
    }
}
h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

.maincolor {
    color: #707070;
    background-color: #fff;
}

.alternatecolor{
    color:#fff;
    background-color: #312614;
    padding: 1em;
}

.accentcolor{
    color: #b7832f;
}