body {
  margin: 0;
}

h1,
h2,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #ffe600;
}

header,
section {
  padding: 50px;
}

header {
  background: #ffe600;
  color: #000;
}

.section-one {
  background-color: black;
  color: white;
}

.section-one .btn {
  color: #000;
}

.section-two a {
  color: #000;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background: #ffe600;
  text-decoration: none;
}
.btn:hover {
  background: fuchsia;
}
