body {
  background-color: dimgrey;
  color: azure;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

.columns {
  display: flex;
}

.col {
  margin: 10px;
}
