#box {
  height: 70px;
  width: 300px;
  color: aliceblue;
  background-color: darkturquoise;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding-top: 40px;
}

button {
  background-color: navy;
  color: whitesmoke;
  width: 80px;
  height: 50px;
  margin-top: 10px;
}
