body {
  /* background-color: #1f2937;
  color: azure; */
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(246.26deg, #2ec4de 0%, #2b75ec 100%);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 51px;
}
/* #dark-active {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 705px;
  top: 718px;

  background: #1f2937;
} */

#heading {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  text-align: center;
  width: 350px;

  /*position: absolute;
  left: 0px;
  top: 0px; */
}

#convert-el {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
}
#results {
  background-color: #1f2937;
  color: aliceblue;
  width: 350px;
}

/* #results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 200px;
} */
